body {
    font-family: Arial, sans-serif;
    background-color: #FFA726;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: #FFCC00;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px; /* Pridané, aby obmedzilo šírku kontajnera a zlepšilo čitateľnosť na veľkých obrazovkách */
}

h1 {
    color: white;
    background-color: #E65100;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 0;
}

h2 {
    color: white;
    background-color: #EF6C00;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Pridané, aby sa kroky zabalené, ak je obrazovka príliš malá */
}

.step {
    background-color: #01579B;
    color: #FFF;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 10px; /* Upravené, aby sa poskytol okraj všetkým smerom */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 180px; /* Pridané, aby obmedzilo šírku každého kroku */
}

h3 {
    margin-top: 0;
}

h4 {
    color: #EF6C00;
    font-weight: bold;
}
.prizes {
    background-color: #E53935; /* červená farba */
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0; /* okraj na vrchu a spodku */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prizes img {
    max-width: 100px; /* šírka obrázku */
    margin: 0 10px; /* okraj okolo obrázku */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* tieň okolo obrázku */
}

