body {
    font-family: Arial, sans-serif;
    background-color: #FFA726;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFCC00;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
}

h1 {
    color: white;
    background-color: #E65100;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 0;
}

h2 {
    color: white;
    background-color: #EF6C00;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    background-color: #01579B;
    color: #FFF;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
    margin-top: 0;
}

h4 {
    color: #EF6C00;
    font-weight: bold;
}


